<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="logo_container">
        <h1>CODE</h1>
        <img
          class="logo"
          src="{{ url_for('static', filename='img/logo.jpg') }}"
          alt="logo"
        />
        <h1>ALIEN</h1>
      </div>
      <div class="navbar">
        <nav >
          <ul>
            <li><a href="home.html"> Home </a></li>
            <li><a href="contact.html"> Contact us </a></li>
            <li><a href="about.html"> About </a></li>
          </ul>
        </nav>
      </div>
    </header>
    <hr />
  </body>
</html>
